:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  color-scheme: light dark;
  background-image: url('./assets/img/bg.png');
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: rgb(70, 190, 255)
}

html, body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #646cff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
button:hover {
  border-color: #bcc0ff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.alert__error {
  color: red;
}